.objetivos{
    width: 80%;
    margin: auto;
    &__title{
        width: 10%;
        padding-top: 43px;
        margin-bottom: 14px;
    }

    &__text{
        position: relative;
        margin-bottom: 50px;
    }
}

.card{
    padding: 26px 20px;
    margin: 32px 10px;
    border: 1px solid $primary-light;
    border-radius: 5px;
    &__img{
        margin: 10px;
        &-wrapper{
            display: flex;
            justify-content: center;
        }
    }
    &__paragraph{
        font-size: 16px;
    }
    &__subtitle{font-size: 14px;}
}