@media (min-width:1024px){
    .title{
        &--h1{font-size: 54px;}
        &--h2{font-size: 48px;}
        &--h3{font-size: 32px;}
        &--h4{font-size: 24px;}
    }
    .subtitle{
        &-1{font-size: 32px;}
        &-2{font-size: 24px;}
        &-3{font-size: 14px;}
    }
    .paragraph{
        &-1{font-size: 18px;}
        &-2{font-size: 16px;}
    }
    .square{
        height: 206px;
        width: 205px;
        left: -50px;
    }
    .call__buttons{
        &--mobile{display: none;}
        &--desk{
            display: flex;
            width: fit-content;
        }
    }
    .container__title{
        font-size: 64px;
        padding-top: 130px;
        width: 100%;
    }
    .flex-container{
        display: flex;
        &__text{
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    .flex-right{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .cards__objectives{
        justify-content: flex-end;
        max-width: 646px;
    }
    .objectives{
        .call__buttons--desk{
            flex-wrap: wrap;
            & .button--primary{
                position: relative;
                &::before{
                content: 'R$ 5.000,00';
                position: absolute;
                top: -20px;
                left: -10px;
                width: 100px;
                font-weight: 600;
                color: lighten($primary-light, 30%);
                }
            }
        }
    }
    .methods{
        & .flex-right{
            width: 40%;
            .subtitle-2{font-size: 14px;}
        }
    }
    .banner{
        &__paragraph{
            width: 55%;
        }
    }
    .mid_banner{
        justify-content: start;
        align-items: center;
        max-height: 372px;
        &::before{
            height: 70vh;
            max-height: 372px;
        }
        &__title{
            &__container{
                width: 50%;
            }
        }
    }
    .price{
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        width: 538px;
        height: 296px;
    }
    .skills{
        background-size: cover;
        &--mobile{display: none;}
        &__arrow{display: none;}
        &--desktop{
            display: flex;
            &__titles{
                background-color: $primary-light;
                width: 40%;
            }
            &__content{
                background-color: $primary-dark;
                width: 60%;
                position: relative;
            }
        }
        .container{
            display: flex;
            flex-flow: column;
            align-content: center;
            padding: 100px;
        }
        .container__text{display: none;}
    }
    .skill{
        &__title{
            &--desktop{
                justify-content: center;
                height: 76px;
                cursor: pointer;
            }
            &--p{
                font-size: 25px;
            }
        }
        &__content--desktop{
            height: 100%;
            padding: 6%;
            visibility: visible;
            border: none;
            position: absolute;
            &.paragraph-1{
                opacity: 0;
                transition: all 0.3 ease;
                &.open{opacity: 1;}
            }
        }
    }
    .open{
        & .skill__title--p{
            font-weight: 600;
            border-bottom: 1px solid $secondary-dark;
            transition: all .5s ease;
        }
    }
    .card--desk{display: block;}
    .slides{
        .subtitle-2{text-align: right;}
        &__arrow{
            width: 66px;
            height: 66px;
            position: absolute;

            &--right{
                top:40px;
                right: 40px;
                border-top: 1px solid $secondary-dark;
                border-right: 1px solid $secondary-dark;
            }

            &--down{
                bottom: 40px;
                left: 40px;
                border-left: 1px solid $secondary-dark;
                border-bottom: 1px solid $secondary-dark;
            }
        }
    }
    .slide__text{width: 70%;}

    .aptitude{
        height: 95vh;
        background-position: -30vw;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;

        .container{
            margin: 0 100px;
            width: 40%;
            justify-content: flex-start;

            &__text{
                width: 337px;
                &::after{
                    content: 'ultricies leo integer malesuada. Ac odio tempor';
                    color: $paragraph-clr;
                    font-weight: 300;
                    line-height: 26px;
                    font-size: 18px;
                }
            }
            .call__buttons{justify-content: flex-start;}
            .call__button{
                margin-left: 0;
                margin-right: 30px;
            }
            .square{
                left: 60%;
            }
        }
    }
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 60px;

        &__aditional{
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
        &__text-desk{display: block;}
    }
}