.aptitude{
    background-image: url(../assets/webp-images/negociando.webp);
    background-size: cover;
    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

.footer{
    height: 30vh;
    background-color: darken($primary-dark, 5%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__text{
        font-size: 16px;
        &-desk{display: none;}
    }
}