.skills{
    background-image: url(../assets/images/teacher-bnw.png);
    background-size: auto;
    &__arrow{
        width: 10px;
        height: 10px;
        margin-right: 20px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform:  rotate(225deg);
        transition: all 1s;
    }    
}

.skill{
    height: 46px;
    transition: height 1s ease;
    &__content{
        background-color: $primary-dark;
        border: 1px solid $secondary-dark;
        border-left: none;
        border-right: none;
        font-size: 18px;
        line-height: 31px;
        color: #fff;

        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all 1s ease;

        &-desktop{display: none;}
    }
    &__title{
        background-color: $primary-light;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--p{
            color: #fff;
            font-size: 18px;
            font-weight: 200;
            padding: 10px;
        }   
    }
    &__link{
        padding-right: 10px;
    }
    &.open{
        height: 100%;
        transition: height 1s ease;
        .skill__content-mobile{
            padding: 24px 16px;
            height: 236px;
            visibility: visible;
        }
        .skill__title--p{
            font-weight: 600;
        }
        .skills__arrow{
            transform: rotate(45.25deg);
        }
    }
}
