.skills{
    background-image: url(../assets/images/teacher-bnw.png);
    background-size: cover;
    &__arrow{
        width: 10px;
        height: 10px;
        margin-right: 20px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform:  rotate(225deg);
        transition: all 1s;
    }    
}

.skill{
    &__content{
        background-color: $primary-dark;
        border: 1px solid $secondary-dark;
        border-left: none;
        border-right: none;
        padding: 24px 16px;
        font-size: 18px;
        line-height: 31px;
        color: #fff;
        display: none;
        transform: translateY(-100px);
        transition: transform 1s;
    }
    &__title{
        background-color: $primary-light;
        height: 46px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--p{
            color: #fff;
            font-size: 18px;
            font-weight: 200;
            padding: 10px;
        }   
    }
    &.open{
        .skill__content{
            transform: translateY(0);
            display: block;
        }
        .skill__title--p{
            font-weight: 600;
        }
        .skills__arrow{
            transform: rotate(45.25deg);
        }
    }
}
