.slides{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: $primary-dark;
    &__container{
        position: relative;
        overflow: hidden;
        height: 550px;
        width: 100%;
    }
}
.slide{
    background-image: url(../assets/images/opinion.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    &.active{
        opacity: 1;
        transition: opacity 1s ease;
    }
    &__text{
        width: 85%;
        height: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.navigation{
    height: 510px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

.navigation-visibility{
    z-index: 1;
    display: flex;
    justify-content: center;
}

.nav_plus{
    z-index: 1;
    opacity: 0.3;
    width: 9px;
    height: 9px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.5s;
    &::before{
        content: "+";
        height:9px;
        width:9px;
        font-size:20px;
        z-index: 1;
        display:flex;
        align-items:center;
        font-weight:bold;
        color:#fff;
    }

    &.active{
        opacity: 1;
        width: 52px;
        height: 3px;
        margin-top: 3px;
        background-color: #fff;
        transition: all 0.5s ease;
        &::before{
            content: none;
        }
    }
}