@import 'config';

.header{
    &__img{
        width: 44px;
        margin: 16px 0 0 16px;
    }
}
.background{
    background-image: radial-gradient( at 100% 0px, lighten($primary-dark, 5%), $primary-dark);
    
}
.container{
    width: 85%; 
    margin: auto;
    &__title{
        width: 80%;
        padding-top: 43px;
        margin-bottom: 14px;position: relative;
        z-index: 1;
    }

    &__text{
        position: relative;
        margin-bottom: 50px;
    }
}
.square{
    width: 110px;
    height: 100px;
    border: 1px solid $secondary-light;
    border-top: none;
    position: absolute;
    top: 0;
    left: -10px;
}

.title{
    &--h1{
        @extend %title;
        font-size: $mobile-font*54px;
    }
    &--h2{
        @extend %title;
        font-size: $mobile-font*48px;
    }
    &--h3{
        @extend %title;
        font-size: $mobile-font*32px;
    }
    &--h4{
        @extend %title;
        font-size: $mobile-font*24px;
    }
}
.subtitle{
    &-1{
        @extend %subtitle;
        font-size: $mobile-font*32px;
    }
    &-2{
        @extend %subtitle;
        font-size: $mobile-font*24px;
    }
    &-3{
        @extend %subtitle;
        font-size: $mobile-font*14px;
    }
}

.paragraph{
    &-1{
        @extend %paragraph;
        font-weight: 300;
        font-size: $mobile-font*18px;
    }
    &-2{
        @extend %paragraph;
        font-size: $mobile-font*16px;
        font-weight: 600;
    }
}

.link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    &-primary{color: $secondary-dark;}
    &-secondary{color: #fff}

    &:hover{text-decoration: underline}
}

@import 'form';
@import 'buttons';
@import 'banners';
@import 'cards';
@import 'skills';
@import 'slides';
@import 'methods';
@import 'footer';
@import 'tablet';
@import 'desktop';